@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Хто ми?</h1>
    <p class="text-dark" style="font-size: large;">У CafeLab вас чекає затишна атмосфера, найкращий лате, доброзичливий персонал і приємна музика.  Поруч зі столиками ви завжди можете знайти розетки, тому в нашому кафе ви можете не тільки добре провести час і смачно поїсти, а й зручно попрацювати за ноутбуком у надихаючій атмосфері.</p>
</div>
